

.accordion {
    border-radius: 12px;
    padding: 32px;
    background-color: #ffffff;
    box-shadow: 0, 10, 25, rgba(73, 101, 132, 0.8);
    gap: 24px;
}

.accordion__top {
    padding-bottom: 24px;
}
@media (max-width: 768px) {
    .accordion {
        padding: 32px;
    }
}

@media (max-width: 375px) {
    .accordion {
        padding: 16px;
    }
}

@media (max-width: 320px) {
    .accordion {
        padding: 16px;
    }
}